div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: rgb(58, 58, 58);
  background-color: white;
  padding: 8px;
}

div#header {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: white;
  padding: 20px;
}

h1 {
  color: rgb(6, 90, 175);
  font-size: 75px;
  font-weight: 700;
  font-family: Snell Roundhand, cursive;
}

h2 {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(0, 0, 0);
}

h5 {
  color: rgb(0, 0, 0);
  white-space: pre-wrap;
}

a:link {
  color: rgb(6, 90, 175);
  text-decoration: none;
}

a:visited {
  color: rgb(6, 90, 175);
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(0, 0, 0);
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-top: 250px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  padding: 70px;
  border-radius: 50px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 10px;
}

.btn {
  background: rgb(6, 90, 175);
  border-radius: 50px;
  color: white;
}

.logoutbtn {
  text-align: right;
}

em {
  font-weight: 200;
}