div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color: rgb(101, 180, 200);
  background-color:rgb(249, 254, 255);
  padding:8px;
}

div#header {
  position:fixed;
  top:0px;
  left:0px;
  text-align: center;
  width:100%;
  color: rgb(101, 180, 200);
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  /* background: url("../img/3.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background:rgb(249, 254, 255);
  padding: 20px;
  /* border-image: url("../img/3.jpg")7% round;
	border-image-width: 30px; */
	border-color: rgb(235, 243, 235);
	border-style: solid;
	border-width: 30px;
}

h1 {
	color: rgb(101, 180, 200);
  font-size: 75px;
  font-weight: 700;
  font-family: Snell Roundhand, cursive;
}

h2 {
  color: rgb(101, 180, 200);
	padding-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
	text-align: center;
}

h3 {
  color:rgb(101, 180, 200);
  font-weight: 700;
}

h4 {
  color:rgb(101, 180, 200);
  font-weight: 700;
}

h5 {
  color:rgb(101, 180, 200);
  white-space: pre-wrap;
}

a:link {
  color:rgb(101, 180, 200);
  text-decoration: none;
}

a:visited {
  color: rgb(101, 180, 200);
  text-decoration: none;
}

a:hover {
  color:pink;
  text-decoration: none;
}

/* a:active {
  color: rgb(255, 65, 2);
  text-decoration: none;
} */

body {
	font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: black;
  background: url("../img/4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-top: 300px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background:rgb(249, 254, 255);
  padding: 70px;
  /* border-image: url("../img/3.jpg")7% round;
	border-image-width: 30px; */
	border-color: rgb(235, 243, 235);
	border-style: solid;
	border-width: 30px;
}

.btn {
  background:rgb(101, 180, 200);
  border-radius: 50px;
  color: white;
}

dl {
  font-size: medium;
  font-weight: 400;
  color: rgb(101, 180, 200);
  font-family: 'Josefin Sans', sans-serif;
}

.logoutbtn {
  text-align: right;
}

