@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Welcome! Please log in or create an account below.</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
}
else
{
  <p>@Html.ActionLink("Log in", "Login")</p>
  <p>@Html.ActionLink("Create account", "Register")</p>
 
}

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-default" value="Log out" />
    }
}