@{
  Layout = "_Layout";
}

@using Menu.Models;
@model IEnumerable<Menu.Models.Treat>

<h2>Treats</h2>
<hr />
<br>
@if (Model.Any())
{
  <dl>
    @foreach (Treat treat in Model)
    {
      <dt>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }) <em>@treat.Country</em></dt>
    }
  </dl>
} 
else
{
  <h3>No treats have been added yet!</h3>
}
<hr />
<br>
@if (User.Identity.IsAuthenticated)
{
<h5>@Html.ActionLink("Add treat", "Create")</h5>
}